*.bak
*.egg-info
*.pyc
*.so
*.swp
*ZZZ
.committed
.coverage
.dvczignore*
.merkle
.posted
.sharedev
.svn*
.tmp
.wrapped
.xlattice
CVS
MANIFEST
THIS.IS.A.GIT*
__pycache__
build
cover
htmlcov
junk*
logs
myData
myU1
myU2
tmp
xxmodule*
xxsubtype*
