# see http://docs.python.org/distutils/sourcedist.html

include countem installit makeMoreNodeIDs styleit
include CHANGES MANIFEST.in README* TODO 
include setup.py 

recursive-include src/ tests/ scripts/
recursive-include ghpDocs *

global-exclude xxmodule*EXAMPLE
global-exclude junk* .*.swp *.pyc



