# see http://docs.python.org/distutils/sourcedist.html

include countem makeMoreNodeIDs
include CHANGES MANIFEST.in README* TODO 
include test*.py 
include verifyContentKeys scripts/* makeMoreNodeIDs

recursive-include ghpDocs *
recursive-include scripts/  *
recursive-include xlattice/ *.py

global-exclude junk* .*swp *.pyc
prune   .svn


